{% extends 'home.html'%}
{% load static %}
{% block content %}



    <main class="main mt-5">
        
        <div class="page-content">
            <div class="container">
                <div class="product-details-top">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-gallery product-gallery-vertical">
                                <div class="row">
                                    <figure class="product-main-image">
                                        <!-- <img id="product-zoom" src="{{product.image.url}}"
                                            data-zoom-image="{{product.image.url}}" alt="product image"> -->
                                            <a href="{{product.image.url}}">
                                                <img src="{{product.image.url}}" alt="Product image" class="card-img-top rounded-3" height="500px" >
                                            

                                        <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                            <i class="icon-arrows"></i>
                                        </a>
                                    </figure><!-- End .product-main-image -->

                                    <!-- <div id="product-zoom-gallery" class="product-image-gallery">
                                        {% if product.image %}
                                        <a class="product-gallery-item active" href="#"
                                            data-image="{{product.image.url}}" data-zoom-image="{{product.image.url}}">
                                            <img src="{{product.image.url}}" alt="product side">
                                        </a>
                                        {% endif %}
                                        {% if product.sideImage1 %}
                                        <a class="product-gallery-item" href="#" data-image="{{product.sideImage1.url}}"
                                            data-zoom-image="{{product.sideImage1.url}}">
                                            <img src="{{product.sideImage1.url}}" alt="product cross">
                                        </a>
                                        {% endif %}
                                        {% if product.sideImage2 %}
                                        <a class="product-gallery-item" href="#" data-image="{{product.sideImage2.url}}"
                                            data-zoom-image="{{product.sideImage2.url}}">
                                            <img src="{{product.sideImage2.url}}" alt="product with model">
                                        </a>
                                        {% endif %}
                                        {% if product.sideImage3 %}
                                        <a class="product-gallery-item" href="#" data-image="{{product.sideImage3.url}}"
                                            data-zoom-image="{{product.sideImage3.url}}">
                                            <img src="{{product.sideImage3.url}}" alt="product back">
                                        </a>
                                        {% endif %}
                                    </div>End .product-image-gallery -->
                                </div><!-- End .row -->
                            </div><!-- End .product-gallery -->
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <div class="product-details">
                                <h1 class="product-title text-success">{{product.product_name}}</h1><!-- End .product-title -->

                               

                                <div class="product-price text-secondary">
                                   <h2>RS {{product.price}}</h2> 
                                </div><!-- End .product-price -->

                                <!-- <div class="product-content">
                                    <p>{{product.description}}</p>
                                </div>End .product-content -->



                                <div class="product-details-action mt-4">
                                    <button class=" btn btn-success btn-product btn-cart" id="cartBtn"
                                        onclick="addToCart({{product.id}},{{product.price}})"><span>add to
                                            cart</span></button>
                                            <a href="/cart"><button class="btn-product btn-cart" id="gotoBtn" style="display: none;"
                                        ><span>Go to cart
                                            </span></button></a>
                                            
                                    <div class="details-action-wrapper mt-2">
                                      
                                        <button class="btn btn-success" onclick="addToWhishlist({{product.id}})" class="btn-product btn-wishlist" title="Wishlist"><span>Add to
                                                Wishlist</span></button>
                                       
                                    </div><!-- End .details-action-wrapper -->
                                </div><!-- End .product-details-action -->

                                <div class="product-details-footer">
                                    <div class="product-cat">
                                        <span>Category:</span>
                                        <a href="#">{{product.category}}</a>

                                    </div><!-- End .product-cat -->

                                    
                                </div><!-- End .product-details-footer -->
                            </div><!-- End .product-details -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .product-details-top -->

                <div class="product-details-tab">
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <!-- <li class="nav-item">
                            <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab"
                                role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                        </li> -->
                       
                       
                        
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                            aria-labelledby="product-desc-link">
                            <div class="product-desc-content">
                                <h3>Product Information</h3>
                                <p>{{product.description}} </p>


                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-info-tab" role="tabpanel"
                            aria-labelledby="product-info-link">
                            <div class="product-desc-content">
                                <h3>Information</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                                    volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non,
                                    semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                                    Aliquam porttitor mauris sit amet orci. </p>

                                <h3>Fabric & care</h3>
                                <ul>
                                    <li>Faux suede fabric</li>
                                    <li>Gold tone metal hoop handles.</li>
                                    <li>RI branding</li>
                                    <li>Snake print trim interior </li>
                                    <li>Adjustable cross body strap</li>
                                    <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                                </ul>

                                <h3>Size</h3>
                                <p>one size</p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                            aria-labelledby="product-shipping-link">
                            <div class="product-desc-content">
                                <h3>Delivery & returns</h3>
                                <p>We deliver to over 100 countries around the world. For full details of the delivery
                                    options we offer, please view our <a href="#">Delivery information</a><br>
                                    We hope you’ll love every purchase, but if you ever need to return an item you can
                                    do so within a month of receipt. For full details of how to make a return, please
                                    view our <a href="#">Returns information</a></p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                            aria-labelledby="product-review-link">
                            <div class="reviews">
                                <h3>Reviews (2)</h3>
                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <h4><a href="#">Samanta J.</a></h4>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <span class="review-date">6 days ago</span>
                                        </div><!-- End .col -->
                                        <div class="col">
                                            <h4>Good, perfect size</h4>

                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum
                                                    dolores assumenda asperiores facilis porro reprehenderit animi culpa
                                                    atque blanditiis commodi perspiciatis doloremque, possimus,
                                                    explicabo, autem fugit beatae quae voluptas!</p>
                                            </div><!-- End .review-content -->

                                            <div class="review-action">
                                                <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                            </div><!-- End .review-action -->
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .row -->
                                </div><!-- End .review -->

                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <h4><a href="#">John Doe</a></h4>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <span class="review-date">5 days ago</span>
                                        </div><!-- End .col -->
                                        <div class="col">
                                            <h4>Very good</h4>

                                            <div class="review-content">
                                                <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum
                                                    blanditiis laudantium iste amet. Cum non voluptate eos enim, ab
                                                    cumque nam, modi, quas iure illum repellendus, blanditiis
                                                    perspiciatis beatae!</p>
                                            </div><!-- End .review-content -->

                                            <div class="review-action">
                                                <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                                <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                            </div><!-- End .review-action -->
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .row -->
                                </div><!-- End .review -->
                            </div><!-- End .reviews -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .product-details-tab -->

                
              
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

   
</div><!-- End .page-wrapper -->

<!-- Sticky Bar -->






                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->
      
<script>
    var id;
    var value;
    const cart = [];
    if(localStorage.getItem("cart-{{request.user}}") == '')
        var cart3 = [];
    else
        var cart3 = JSON.parse(localStorage.getItem("cart-{{request.user}}"));
    
    cart3.forEach((cart2) => {
      if(cart2[0] == {{product.id}})
      {
        document.getElementById("cartBtn").style.visibility  = 'hidden';
        document.getElementById("gotoBtn").style.display = "block";
      }
    });
    function addToCart(id,value) {
        Swal.fire({
            icon: 'success',
            title: 'Item Added',
            text: 'Product is successfully added to cart'
          })
        const subcart = [id,value,1];
        cart3.push(subcart);
        localStorage.setItem("cart-{{request.user}}", JSON.stringify(cart3));
        document.getElementById("cartBtn").style.visibility  = 'hidden';
        document.getElementById("gotoBtn").style.display = "block";

      }
</script>
<script>
    //Add to Whishlist
    var id;
    if (localStorage.getItem("Whishlist-{{request.user}}") == '')
        var Whishlist = [];
    else
        var Whishlist = JSON.parse(localStorage.getItem("Whishlist-{{request.user}}"));

    function addToWhishlist(id) {
        Whishlist.push(id);
        var UniqyeWhishlist = Whishlist.filter((value, index, array) => array.indexOf(value) === index);

        localStorage.setItem("Whishlist-{{request.user}}", JSON.stringify(UniqyeWhishlist));
        Swal.fire({
            icon: 'success',
            title: 'Item Added',
            text: 'Product is successfully added to Whishlist'
        }).then(function () {
            location.reload();
        });
    }
</script>
{% endblock content %}
</div>End .col-md-6
